*{
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    margin-right: 20px;
    color: black;
    
}


.links{
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in;
}

/*Toggle class */
.show-links{
    height: 10rem;
}

.toggle{
    display: flex;
    justify-content: space-between;
}

button:hover{
transform: rotate(90deg);
transition:0.3s ease-in ;
}

h2{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 34px;
letter-spacing: 3px;
padding-bottom: 30px;
background: linear-gradient(45deg, #00bfff, #005eff); /* Blueish gradient */
-webkit-background-clip: text; /* Clip the background to the text */
-webkit-text-fill-color: transparent;
background-clip: text;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.links, .show-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;    
    font-size: 24px;
    
    }


    li:hover{
        background-color: #a4d0f5;
        transform: scale(1.2);
        margin-left: 60px;
        transition: .4s ease-in-out;
    }

    
    nav{
        background-color: white;
        border-bottom: 2px solid rgb(0, 0, 0,0.3);
        box-shadow: 0 12px 14px rgba(0, 0, 0, 0.4);
        margin: -10px;
        padding-left: 20px;
    }

    body{
        background-color:#9BB0C1;
    }

    li{
        list-style: none;
    }